<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.6.0" targetFramework="net40" />
  <package id="Accord.Math" version="3.6.0" targetFramework="net40" />
  <package id="Accord.Statistics" version="3.6.0" targetFramework="net40" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net40" />
  <package id="MessagePack" version="1.9.11" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net45" />
</packages>